
/*  Website Template by freewebsitetemplates.com-->
<!--All code, images, contents that differs from original template is property of RHR Architect-->
<!--All fonts and icons in this website are used acording to license agreement detailed in footer.-->
<!--Acording license agreement published by freewebsitetemplates.com-->
<!--Copyrigth 2015 - RHR Architect*/

@font-face {
	font-family: 'Juram';
	src: url('../fonts/Jura/Jura-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Jurar';
	src: url('../fonts/Jura/Jura-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Jural';
	src: url('../fonts/Jura/Jura-Light.ttf') format('truetype');
}
body {
	background-color: #fff;
	font-family: "Jural";
	margin: 15px 0 0 0;
}
img {
	border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#contents, #contents > div, #contents div.body {
	/*background-image: url(../images/bg-contents.png);*/
	background-repeat: no-repeat;
}
.frame {
	background: url(../images/frames.png) no-repeat;
}

#sidebar, #sidebar div.body {
	/*background-image: url(../images/bg-sidebar.png);*/
	background-repeat: no-repeat;
}

/** Date Time **/
.time {
	float: left;
	background: url(../images/bg-time.png) no-repeat left top;
	color: #fff;
	font-family: "Jural";
	display: block;
	height: 42px;
	width: 32px;
	margin: 0 5px 15px 0;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
}
/** Tabs **/
.tabs {
	float: right;
	display: inline-block;
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}
.tabs li {
	float: left;
	border-left: 0px solid #241b18;
	margin-left: 15px;
	padding-left: 15px;
}
.tabs li:first-child {
	border: 0;
}
.tabs a {
	color: #241b18;
	font-family: "Oswald";
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}
.tabs a:hover, .tabs li.selected a {
	color: #af8112;
}
/** Posts **/
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
.posts li {
	display: inline-block;
	font-size: 13px;
}
.posts p {
	color: #4b3a33;
	padding-left: 50px;
}
.posts p b {
	display: block;
	font-family: "Oswald";
	font-weight: normal;
	margin: 0 0 3px;
}
.posts p a {
	color: #4b3a33;
	display: block;
	font-family: "Oswald";
	text-decoration: none;
}
.posts p a:hover {
	color: #241b18;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #fff;
	background: url(../images/headbg2.png)repeat left top;
	height: 150px;
	/*border-bottom: 1px solid #640120;*/
	padding: 0;
}
#header > div {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	text-align: right;
}

/** Logo **/
#logo {
	float: left;
	margin: 27px 0 0 45px;
}
#primary_nav_wrap {
	margin-top:15px;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a {
	display:block;
	color:#640120;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:32px;
	padding:0 15px;
	font-family:"Jural";
	text-transform: uppercase;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item a{
	/*background:#fff;*/
	color: #85726c;
}

#primary_nav_wrap ul li a:hover {
	/*background:#ffffff;
	color: rgba(100, 1, 32, 0.57);*/
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#edd7a8;
	padding:0;
}

#primary_nav_wrap ul ul li {
	float:none;
	width:180px;
/* Added*/
	display: block;
	list-style: none;
	margin: 0;
	padding: 5px;
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
}
#primary_nav_wrap {
	margin-top:0;
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:115px 0 0 225px;
	padding:0;
	/*background-color: #fff;
	border-radius: 2px;*/
}

#primary_nav_wrap ul a {
	display:block;
	color:#640120;
	text-decoration:none;
	font-size:22px;
	padding:0 15px;
	font-family:'Juram';
	font-weight: normal;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0 5px;
}

#primary_nav_wrap ul li.current-menu-item {
	/*color: #fff;*/
	border-radius: 1px;
}

#primary_nav_wrap ul li:hover {
	/*background:#ffffff;*/
}

#primary_nav_wrap ul ul {
	display:none;
	/*background:#fff;*/
/* added */
	left: 17px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	z-index: 5;
	border-radius: 5px;
}

#primary_nav_wrap ul ul li {
	float:none;
	width:180px;
	text-align: left;
/*added*/
	border-top: 1px solid #640120;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	display:block;
	color:#640120;
	text-decoration:none;
	font-size:17px;
	font-family:'Jural';
	list-style: none;
	margin: 0;
	padding: 5px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	/*background-position: -961px top;
	background-repeat: repeat-y;*/
	width: 970px;
	margin: 0 auto;
	padding: 0 0 10px 0;
}
#contents > div {
	/*background-position: -1929px bottom;*/
	width: 960px;
	padding: 0;
}
#contents div.body {
	/*background-position: 15px top;*/
	display: inline-block;
	width: 940px;
	padding: 10px 0 0 20px;
}
#contents div.body h1 {
	color: #640120;
	font-family: "Jurar";
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px 0;
	/*text-transform: uppercase;*/
}
#contents div.body h2 {
	color: #640120;
	font-family: 'Jural';
	display: block;
	font-size: 22px;
	font-weight: normal;
	line-height: 30px;
	padding: 0 0 0 0;
	margin: -17px 0 0 0;
}
#contents p {
	color: #626161;
	font-size: 25px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: justify;
}
#contents p1 {
	color: #000000;
	font-family:'Jurar';
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 0 0;
}
#contents p a {
	color: #626161;
}
#contents p a:hover {
	color: #8e8265;
}
/** Adbox **/
#adbox1 {
	height: 425px;
	width: 938px;
	border-color: #fff;
	border-width: 0px;
	border-style: none solid solid;
	margin: -10px 0 0;
	position: relative;
}
#adbox1 {
	height: 440px;
	width: 938px;
	border-color: #fff;
	border-width: 0px;
	border-style: none solid solid;
	margin: 0 0 0 20px;
	position: relative;
	/*-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);*/
}
#adbox1 img{
	height: 400px;
	width: 400px;
	margin: 20px 0 0 20px;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 20px rgba(0,0,0,.8);
	border-radius: 5px;
}
#adbox {
	height: 500px;
	width: 940px;
	margin: 0;
	padding: 15px 0 0 0;
	position: relative;
}
#adbox span.info {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	position: absolute;
	left: 330px;
	bottom: 25px;
}
#adbox span.info em {
	display: block;
	font-size: 24px;
	font-style: normal;
}
#adbox div.details {
	background: url(../images/bgsloganbage.png) no-repeat left top;
	height: 407px;
	width: 380px;
	padding: 61px 45px;
	position: absolute;
	right: 0;
	top: 0;
}
/*Class created by RHR Architect*/
#adbox1 div.details {
	height: 400px;
	width: 425px;
	padding: 30px 25px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: justify;
}
/*Class created by RHR Architect*/
#adbox1 div details img {
	border: 0;
}
#adbox div.details h1 {
	color: #640120;
	font-family: "Jurar";
	font-size: 34px;
	font-weight: normal;
	margin: 55px -35px 0px -35px;
	text-align: center;
	text-shadow: 2px 2px #85726C;
	font-style: italic;
}
#adbox div.details p {
	color: #241b18;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-family:'Jura';
}
/* Home Info*/
#homeinfo {
	display: inline-block;
	list-style: none;
	width: 940px;
	height: auto;
	margin: 10px 0;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
}
#homeinfo h4 {
	color: #640120;
	font-family: "Jurar";
	font-size: 15px;
	font-weight: normal;
	margin: 15px 50px;
	text-align: justify;
}

/** Featured **/
#featured {
	display: inline-block;
	list-style: none;
	width: 940px;
	height: 298px;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
}
#featured > div {
	display: inline-block;
	list-style: none;
	width: 940px;
	height: 298px;
	margin: 0;
	padding: 0 0 10px 0;
}
#featured div ul {
	width: 940px;
	height: 298px;
	margin: 0 auto;
	padding: 0;
	background-color: #640120;
	border-radius: 5px;
}
/*#featured div ul li {
    padding: 0 0 0 0;
    background-color: #640120;
    width: 470px;
    height: 253px;
}*/
#featured li {
	float: left;
	background-color: #640120;
	width: 314px;
	overflow: hidden;
}
#featured li.homeadd {
	padding: 0 0 0 0;
	background-color: #640120;
	width: 470px;
	height: 253px;
}
#featured div ul li.homeadd {
	float: left;
	list-style: none;
	padding: 0 0 0 0;
	/*background-color: #640120;*/
	width: 470px;
	height: 298px;
	border-radius: 5px;
}
#featured div ul li.interior {
	float: left;
	list-style: none;
	padding: 0 0 0 0;
	/*background-color: #640120;*/
	width: 470px;
	height: 298px;
	border-radius: 5px;
}
#featured div ul li div{
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 470px;
	height: 253px;
}
#featured li.interior {
	padding: 0 0 0 0;
	background-color: #640120;
	width: 470px;
	height: 298px;
	border-radius: 5px;
}
#featured li > div:first-child {
	height: 30px;
	width: 470px;
	overflow: hidden;
	position: relative;
}
#featured li > div:first-child > a {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	color:#fff;
	/*top:0;
	left: 0;*/
}
#featured li > div:first-child > a:hover {
	background-color: #640120;
	color:#fff;
	/*filter:alpha(opacity=10); /** Needed for IE8 and below **/
	opacity:0.1;
}
#featured div.details {
	padding: 10px 0 0 0;
	text-align: center;
	margin: 5px 0 0 0;
}
#featured div.details h4 {
	color: #fff;
	font-family: 'Juram';
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	display: block;
}
#featured div.details a {
	color: #fff;
	font-family: 'Juram';
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	display: block;
}
#featured div.details p {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-family:'Jural';
}
#featured div.details p a {
	color: #fff;
	text-decoration: none;
}
#featured div.details p a:hover {
	color: #ffc947;
}
div.contact {
	float: right;
	height: 100px;
	width: 468px;
	padding: 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	text-align: center;
	border-radius: 5px;
}
div.slogan {
	float: left;
	height: 100px;
	width: 468px;
	padding: 0;
	background-color: #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
}
#contents div.slogan p {
	color: #640120;
	padding: 40px 0 0;
	font-size: 19px;
	font-family:'Juram';
	text-align: center;
}
div.contact img {
	margin: 0 -35px 25px 45px;
}
div.contact img2 {
	margin: 0 0 0 0;
}
#contents div.contact p {
	color: #640120;
	font-family: 'Juram';
	font-size: 18px;
	padding-bottom: 0;
	font-weight: normal;
	margin: 0 0 0 130px;
}
#contents div.details h1 {
	color: #640120;
	font-family: 'Juram';
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 10px 0;
	padding-left: 0;
	text-transform: uppercase;
}
#contents div.details h2 {
	color: #640120;
	font-family: 'Juram';
	font-size: 30px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 0 0;
	padding-left: 0;
	text-transform: uppercase;
}
div.contact p b {
	color: #640120;
	font-family: 'Juram';
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	padding: 0;
	text-align: center;
}
div.contact p b.email {
	text-transform: lowercase;
}

#contents .bodygal {
	overflow: hidden;
	padding: 15px 0 0 0;
	width: 940px;
	height: auto;
}
#contents .bodygal h4{
	color: #640120;
	font-family: 'Juram';
	font-size: 25px;
	font-weight: normal;
	line-height: 24px;
	margin: 10px 0 15px 0;
	padding-left: 19px;
	text-transform: uppercase;
}
#contents .bodygal h3{
	color: #000000;
	font-family: 'Jural';
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 15px 0;
	padding: 0 15px 0 15px;
	text-align: justify;
}
#contents .bodygal div {
	display: flex;
	margin: 20px 0 10px 20px;
	width: 900px;
	height: 220px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
}
#contents .bodygal .thumbnails {
	display: flex;
	margin: 20px 0 10px 20px;
	width: 900px;
	height: 160px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
}
#contents .bodygal .thumbnails img {
	height: 130px;
	width: 230px;
	border: 1px solid #babdb6;
	margin: 5px 0 0 5px;
	padding: 0;
	border-radius: 3px;
}
#contents .bodygal .preview {
	width: 900px;
	height: 450px;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	border-radius: 5px;
	margin: 0 0 0 20px;
}
/* Nueva galería*/
<style type="text/css"> .bodygal .thumbnails img {
		height: 200px;
		width: 300px;
		border: 1px solid #babdb6;
		margin: 5px 0 0 5px;
		padding: 0;
		border-radius: 3px;
	}

	.thumbnails img:hover {
		border: 1px solid #babdb6;
		cursor:pointer;
	}

	.preview img {
		width: 900px;
		height: 450px;
	}
</style>

/* ------------------------------------------------------- */
/* Image Gallery with zoom on cursor touch */
/*<style type="text/css"> gallerycontainer{
	position: absolute;
	height: auto;
	margin: 0;
	padding: 0;
}

.thumbnail img{
	border: 1px solid #dddddd;
	margin: 12px 0 0 0;
	padding: 0;
	border-radius: 5px;
}

.thumbnail:hover{
	background-color: transparent;
}

.thumbnail:hover img{
	border: 1px solid gray;
}

.thumbnail span{ 
	position: absolute;
	background-color: transparent;
	padding: 0 0 0 0;
	left: -900px;
	border: 0px solid gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img{ 
	border-width: 0;
	padding: 0;
}

.thumbnail:hover span{ 
	visibility: visible;
	top: 412px;
	left: 227px; 
	z-index: 50;
}*/
#contents div.blog > div p {
	color: #2e3436;
	font-family: 'Jural';
	line-height: 8px;
	padding: 12px 0 0 20px;
	text-align: left;
}
div.blog a.more {
	color: #4b3a33;
	font-family: 'Jura';
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 18px;
	left: 15px;
}
div.blog a.more:hover {
	color: #af8112;
}

/** Main **/
#main {
	width: 448px;
	margin: -10px 0 0 -4px;
}
/** Sidebar **/
#sidebar {
	float: left;
	width: 940px;
	padding: 0 0 0 0;
	margin: 0 0 0 0; 
}
#sidebar div.body {
	/*background-position: 0 -7px;*/
	min-height: 100px;
	width: 940px;
	padding: 10px 0 0 10px;
}
#sidebar div.body img{
	width: 940px;
	height: 336px;
	padding: 0 0 0 0;
}
#sidebar div.contact {
	background: none;
	height: auto;
	width: 470px;
	padding: 0 0 0 0;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.8);
	box-shadow: 0px 0px 0px rgba(0,0,0,.8);
	text-align: left;
}
#sidebar div.contact a{
	margin: 0 0 0 -80px;
}
#sidebar div.contact b{
	margin: 0 40px 0 -35px;
}
#sidebar div.contact p {
	text-align: left;
	color: #000;
	font-family: 'Juram';
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0 10px 0;
}
#sidebar div.contact h2 {
	color: #000;
	font-family: 'Juram';
	display: block;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	padding: 0;
	margin: 0;
}
#contents #about, #contents #contact {
	height: 550px;
	width: 940px;
	padding: 0;
	/*-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);*/
}
/** About **/
#about p span {
	font-size: 12px;
}
#about #main h1 {
	background: url(../images/separator-light.png) repeat-x left bottom;
	padding: 0 0 18px;
}
#about #main h4 {
	color: #626161;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: uppercase;
}
/** Gallery **/
#contents #gallery {
	min-height: 690px;
	width: 860px;
	padding: 20px 50px 0;
}
#gallery h1 {
	background: url(../images/separator-light.png) repeat-x left bottom;
	padding: 0 0 6px;
}
#gallery .items {
	list-style: none;
	margin: 0;
	padding: 0;
}
#gallery .items li {
	background: url(../images/separator-light.png) repeat-x left bottom;
	display: inline-block;
	width: 100%;
	margin: 0 0 18px;
	padding: 0 0 24px;
}
#gallery .items li h5 {
	color: #241b18;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#gallery .items li p {
	color: #626161;
	padding-right: 10px;
}
#gallery .frame {
	float: left;
	background-position: 0 0;
	height: 262px;
	width: 500px;
	margin-left: -38px;
	padding: 1px 21px 0 41px;
	text-align: center;
}
#gallery .framea {
	float: left;
	background-position: 0 0;
	height: 743px;
	width: 500px;
	margin-left: -38px;
	padding: 1px 21px 0 41px;
	text-align: center;
}
#gallery .details {
	margin: 0 0 18px;
}
#gallery .items .details h5 {
	margin: 0;
}
#gallery .details p {
	color: #626161;
	padding: 0;
}
#gallery .details p b {
	color: #241b18;
	font-weight: normal;
	text-transform: uppercase;
}
#gallery .price {
	color: #ab7d0f;
	font-size: 22px;
}
/** Blog **/
#contents #blog {
	width: 860px;
	padding: 20px 50px 10px;
}
#blog #sidebar {
	background: url(../images/separator-light-vertical.png) repeat-y left top;
	min-height: 899px;
	width: 240px;
	margin-left: 0;
	padding-left: 33px;
}
#blog #sidebar > div {
	background: url(../images/separator-light.png) repeat-x left top;
	margin: 0 0 24px;
	padding: 24px 0 0;
}
#blog #sidebar > div ul {
	color: #4b3a33;
	list-style: none;
	margin: 0;
	padding: 0;
}
#blog #sidebar > div:first-child {
	background: none;
	margin: 0;
	padding-top: 0;
}
#blog #sidebar > div ul li a {
	color: #4b3a33;
	font: 13px/24px "Oswald";
	text-decoration: none;
}
#blog #sidebar > div ul li a:hover {
	color: #241b18;
}
#blog #sidebar h5 {
	color: #241b18;
	font-family: "Oswald";
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 0;
	text-transform: uppercase;
}
#blog .posts {
	margin: -6px 0 0;
}
#blog #sidebar .time {
	margin: 5px 5px 0 0;
}
#blog #sidebar .posts p {
	color: #4b3a33;
	font-size: 12px;
	line-height: 18px;
	padding-left: 50px;
	text-align: left;
}
#blog #main {
	min-height: 900px;
	width: 560px;
	position: relative;
}
#blog div.viewer {
	background: url(../images/separator-light.png) repeat-x left bottom;
	margin: 0 0 30px;
	padding: 0 0 24px;
}
#blog #main span.time {
	font-size: 14px;
	line-height: 20px;
	margin: 3px 5px 0 0;
}
#blog #main h3 {
	font-family: "Oswald";
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#blog #main h3 a {
	color: #000;
	text-decoration: none;
}
#blog #main div.frame {
	background-position: 0 -269px;
	height: 262px;
	width: 560px;
	margin: 0 0 18px -40px;
	padding: 1px 20px 1px 41px;
}
#blog .info {
	color: #626161;
	font-size: 12px;
	line-height: 24px;
	padding: 0 0 6px;
	text-transform: uppercase;
}
#blog .info a {
	text-decoration: none;
}
#blog .more, #blog .comments {
	color: #241b18;
	font: 12px/24px "Oswald";
	text-decoration: none;
	text-transform: uppercase;
}
#blog .more {
	float: right;
}
#blog .comments {
	background-position: 0 -45px;
	padding-left: 20px;
}
#blog div.viewer a:hover, #blog .info a:hover, #pagination > a:hover, #blog #main h3 a:hover {
	color: #b1861f;
}
#blog #pagination {
	position: absolute;
	bottom: 0;
}
/** Pagination **/
#pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
}
#pagination .previous, #pagination .next {
	float: left;
	background-position: 0 -69px;
	color: #241b18;
	display: inline-block;
	height: 15px;
	padding-left: 24px;
	text-decoration: none;
	text-transform: uppercase;
}
#pagination .next {
	float: right;
	background-position: right -91px;
	padding-left: 0;
	padding-right: 24px;
}
#pagination ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
*width: 150px;
}
#pagination ul li {
	float: left;
	color: #626161;
	font-size: 14px;
	line-height: 20px;
	margin: 0 2px;
}
#pagination ul li a {
	background-color: #d2d2d2;
	color: #626161;
	font-size: 13px;
	padding: 0 7px;
	text-decoration: none;
}
#pagination ul li a:hover, #pagination ul li.selected a {
	background-color: #ffc947;
	color: #241b18;
}
/** Contact **/
#contact form {
	background: url(../images/separator-light.png) repeat-x left top;
	padding: 30px 0 0;
}
#contact form label {
	color: #626161;
	display: block;
	font-size: 14px;
	line-height: 24px;
}
#contact form input {
	color: #626161;
	font-size: 13px;
	height: 27px;
	line-height: 27px;
	width: 440px;
	border: 3px solid #af8112;
	margin: 0 0 12px;
}
#contact form input.btn1 {
	color: #966a01;
	cursor: pointer;
	font-family: "Oswald";
	height: 34px;
	line-height: 34px;
	width: 109px;
	border: 0;
	padding: 0 0 2px;
	text-transform: uppercase;
}
#contact textarea {
	color: #626161;
	font-size: 14px;
	height: 158px;
	line-height: 24px;
	width: 440px;
	border: 3px solid #af8112;
	margin: 0 0 12px;
	overflow: auto;
	resize: none;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #640120;
	border-top: 1px solid #626161;
	padding: 15px 0 14px;
}
#footer p {
	color: #4b3a33;
	font-size: 10px;
	line-height: 18px;
	margin: 0;
}
#footer > div {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
#footer .posts {
	float: left;
	height: 300px;
	width: 302px;
	padding: 0;
}
#footer .posts li {
	width: 276px;
	margin: 0 0 30px;
	padding-left: 10px;
}
#footer .posts p a {
	line-height: 24px;
	margin: -3px 0 3px;
}
#links {
	background: url(../images/separator-darkline.png) repeat-x left bottom;
	color: #fff;
	display: inline-block;
	width: 940px;
	padding: 0 0 5px;
}
#links h4 {
	color: #241b18;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	padding-left: 10px;
	text-transform: uppercase;
}
#links > div {
	float: left;
	background: url(../images/separator-dark-vertical.png) repeat-y left top;
	height: 300px;	
	padding-left: 20px;
}
#links .showroom {
	background: none;
	width: 293px;
	padding-left: 0;
	padding-right: 15px;
}
#links .showroom h4 {
	padding-left: 0;
}
#links .showroom img {
	margin-bottom: 12px;
}
#links .showroom p {
	font-size: 13px;
	margin: 0;
}
#links .showroom p em {
	color: #fff;
	display: block;
	font-style: normal;
	margin: 0 0 20px;
}
#links .showroom p a {
	color: #4b3a33;
	display: block;
}
#links .showroom p a:hover {
	color: #241b18;
}
#newsletter {
	background: url(../images/separator-dark.png) repeat-x left bottom;
	width: 284px;
	margin: 0 0 16px 6px;
	padding: 0 0 20px;
}
#newsletter h4 {
	padding-left: 0;
}
#newsletter input {
	color: #4b3a33;
	height: 26px;
	line-height: 26px;
	width: 269px;
	border: 3px solid #af8112;
	margin: 0 0 6px;
	padding: 0 4px;
*margin-left: -6px; /** Needed for IE7 **/
}
#newsletter input.btn2 {
	color: #fff;
	width: 83px;
	border: 0;
	padding: 0px 0 2px;
}
#connect a {
	display: inline-block;
	height: 33px;
	margin: 0 10px;
}
#connect a.facebook {
	background-position: -46px -112px;
	width: 33px;
}
#connect a.youtube {
	background-position: -46px -153px;
	width: 34px;
}
#connect a.twitter {
	background-position: -46px -194px;
	width: 40px;
}
#connect a.instagram {
	background-position: -46px -235px;
	width: 40px;
}
#connect a.facebook:hover {
	background-position: 0 -112px;
}
#connect a.youtube:hover {
	background-position: 0 -153px;
}
#connect a.twitter:hover {
	background-position: 0 -194px;
}
#connect a.instagram:hover {
	background-position: 0 -235px;
}
#footer ul.navigation {
	float: right;
	display: inline-block;
	line-height: 24px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
}
#footer ul.navigation li {
	float: left;
	margin-left: 15px;
}
#footer ul.navigation li:first-child {
	margin-left: 0;
}
#footer ul.navigation li a {
	color: #fff;
	font-family: 'Jural';
	text-decoration: none;
	text-transform: uppercase;
}
#footer ul.navigation li a:hover {
	color: #241b18;
}
#footer #footnote {
	color: #fff;
	font-family: 'Jural';
	margin: 5px 0 0 0;
	text-transform: uppercase;
	font-size:12px;
}
/* SLIDER  */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { width: 940px; height: 500px; overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

div#sliderhr { width: 940px; height:470px; overflow: hidden; }
div#sliderhr figure img { width: 20%; float: left; }
div#sliderhr figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

div#slidersw { width: 855px; height: 448px; overflow: hidden; }
div#slidersw figure img { width: 20%; float: left; }
div#slidersw figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

div#slidermr { width: 500px; height: 743px; overflow: hidden; }
div#slidermr figure img { width: 20%; float: left; }
div#slidermr figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

/* ************************************************* */
/*Image Silder with manual controls*/
#slideshow-wrap {
	display: block;
	height: 500px;
	width: 940px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
	margin-top: 0px;
	position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
	width: 20%;
	height: 500px;
	float: left;
	position: relative;
}

#slideshow-inner>ul>li>img {
	margin: auto;
	height: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: 15px }
#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }
#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }
#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }
#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }
#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }
#slideshow-wrap label[for=button-2] { margin-left: -18px }
#slideshow-wrap label[for=button-4] { margin-left: 18px }
#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }
#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }
#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }
#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }
#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: 'Juram';
    font-size: 30px;
    color: #640120;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

label.arrows:hover { opacity: 1 }
label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }
input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }
input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
	height: 30px;
    font-family: 'Jural';
    z-index: 1000;
}

.description input { visibility: hidden }

.description label {
	font-family: 'Jural';
	background-color: rgba(255, 255, 255, 0.76);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: #640120;
}

#slideshow-inner>ul>li:hover .description label { opacity: 1 }
.description input[type=checkbox]:checked~label { opacity: 1 }
.description .description-text {
    background-color: rgba(255, 255, 255, 0.82);
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -35px;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #640120;
	width: 450px;
	height: 10px;
}
.description .description-text h2{
	font-family: 'Jural';
	font-weight: normal;
	font-size: 20px;
	margin: -13px 0 0 15px;
}

.description input[type=checkbox]:checked~.description-text { opacity: 1 }
